@CHARSET "UTF-8";
body {
    background-image: url('../img/background.png');
}
body > .wrapper {
    background: white;
    opacity: 0.90;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

blockquote {background-color: white;}

.sidebar-menu .treeview-menu > li > a {font-size: 0.9em;}
.skin-blue-light .sidebar-menu > li:hover > a,
.skin-blue-light .sidebar-menu > li.active > a {
    background-color: #3c8dbc;
    color: white;
}